<!DOCTYPE html>
<html>
<head>
 <title>Jovian </title> 
  <style>
    h1{
      font size: 40px;
      font-family: Roboto;
      font-weight: normal;
      color:rgb(100,100,100);
      text-align: center;
    }
    #banner{
      width:  100%;
height: 360px;
  object: filt: cover;  }
    p{
      font-family: Roboto;
      <color></color>= rgb(120,120,120);
    }
    #container{
      max-width: 720px;
      margin: 0 auto 0 auto;
    }
  </style>
    
  
</head>
<body><div id="container">
  <h1>Jovian </h1>
  <img id="banner" src="https://images.unsplash.com/photo-1623491351896-073b656b4205?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDF8YWV1NnJMLWo2ZXd8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=60" height="600" width="1200" alt="image">
  <h2>About Wallmart</h2>
    
  <p>Wallmart is a leading name in the world of  software services. We are known all over the world for our fabulous work culture and user experience. We are commited to deliver our best services to all of our clients  all over the world.    </p>
    <h2>Open Positions</h2>
    <ul><li>Data Scientist</li><br>
      <li>Frontend Engineer</li><br>
      <li>Full stack developer</li><br></ul>
    <p></p>
  
    <button>About Us</button>
  <a href=https://replit.com/@PriyankVashisht/jovian-careers-website#templates/Contact.html>
    <button>Contact Us</button>
  </a>
    <button>Careers</button>
  
  <p>Powered by Priyank Vashisht</p>
</div>
</body>
</html>